body{
    background-color: hsl(92, 90%, 49%);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .body1{
    /* background-color: rgb(240, 8, 8); */
    width: 300px;
    padding: 10px;
  }
  .title1{
    display: flex;
  }
  .togle1{
    width: 200px;
  }
  .toggle1{
    width: 60px;
    display: flex;
    flex-direction: column;
    margin-inline-start: 190px;
  }
  .toggle1 p{
    margin: 0 5px;
    color: #ffffff;
  }
  .num1{
    display: flex;
  }
  .btnn1{
    width: 55px;
    height: 20px;
    border-radius: 10px;
    border: 0;
  }
  .btnn1 input{
    width: 10px;
    height: 10px;
    margin-right: 35px;
    border-radius: 20px;
    border: none;
    background-color: black;
  }
  .control1{
    margin-right: 30%;
  }
  .control1 p{
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h3{
    color: #ffffff;
  }
  .cal-body1{
    background-color: hsl(224, 40%, 16%);
    padding: 10px;
    width: 260px;
    border-radius: 10px;
    margin: 5px;
    /* box-shadow: 0px 5px 0px 0px(224deg 0% 35%); */
  }
  .btn1{
    display: flex;
    flex-flow: wrap;
    padding: 5px 5px;
  }
  .last1{
    display: flex;
    flex-flow: wrap;
    /* padding: 10px 5px; */
  }
  .last1 button{
    width: 108px;
    height: 35px;
    padding: 5px;
    justify-content: center;
    align-content: center;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(0, 0%, 50%);
    margin: 2px 8px;
    font-size: 20px;
  }
  .screen1{
    padding: 5px;
  }
  .btn1 button{
    width: 50px;
    padding: 5px;
    justify-content: center;
    align-content: center;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(0, 0%, 50%);
    margin: 4px 5px;
    font-size: 20px;
  }
  form input{
    width: 93%;
    border-radius: 10px;
    background-color: hsl(222, 42%, 11%);
    border: 0;
    height: 50px;
    padding: 5px;
  }
  .equal1 button{
    box-shadow: 0px 3px 0px 0px hsl(0, 54%, 33%);
  }
  .head1{
    margin-left: 5px;
  }