.toggle-container{
    position: absolute;
    top: 7.5em;
    padding-left: 170px;
}

.toggle{
    visibility: hidden;
}
.toggle + label {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    font-size: 1em;
    cursor: pointer;
    color: var(--theme-color);
}

.toggle + label::before{
    content: "";
    height: 1.2em;
    width: 2.5em;
    border-radius: 1em;
    background-color: hsl(224, 40%, 16%);
    margin-left: 1.1em;
}
.toggle + label::after{
    content: "";
    height: 0.9em;
    width: 1em;
    border-radius: 1em;
    background-color: rgb(216, 20, 20);
    position: absolute;
    top: 1.3em;
    right: 1.2em;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}
.toggle:checked + label::after{
    transform: translateX(100%);
}